:root {
    --dark-color: #303030;
    --light-color: #F9F9F9;
    --light-green: #27FB6B;
    --dark-green: #138A36;
    --accent-blue: #016FB9;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 50px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 50px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Marcellus+SC');
@font-face {
    font-family: 'League Spartan Variable';
    src: url('LeagueSpartan-VF.woff2') format('woff2-variations');
    font-weight: 200 900;
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

::-moz-selection {
    background: var(--light-green);
    color: #303030;
}

::selection {
    background: var(--light-green);
    color: #303030;
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: var(--dark-color);
    color: var(--light-color);
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    scroll-behavior: smooth;
    overflow-x: hidden;
    scrollbar-color: var(--light-green) rgb(75, 75, 75);
}
html{
    overflow-y: scroll;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 2em;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    margin-top: 1.5em;
    font-size: 1.35rem;
    padding-left: 2em;
    width: 50%;
    color: var(--light-green);
}

h5 {
    display: table-cell;
    font-size: 2rem;
    padding-left: 1.25em;
    color: var(--light-green);
}

p {
    font-size: 1.2rem;
    text-align: justify;
}

ul {
    list-style-type: none;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    /* color: inherit; */
}

.section {
    /* padding: 120px 100px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 70vw;
    margin: 0 auto;
}

.hr3 {
    width: 100%;
    margin: 2.5% 0;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #27FB6B, transparent);
}

.email {
    font: inherit;
    font-size: inherit;
    cursor: pointer;
    text-decoration: none;
    color: var(--light-green);
}

ion-item {
    width: 100%;
}

ion-icon {
    /* color: var(--dark-color); */
}

.titleIcon {
    display: inline-block;
    vertical-align: middle;
    font-size: 2.5rem;
    color: var(--light-green);
    margin-right: 0.5rem;
}

.pIcon {
    position: relative;
    top: 0.2rem;
    font-size: 1.2rem;
    color: var(--light-green);
}

.bullet {
    position: relative;
    top: 0.2rem;
    font-size: 1rem;
    color: var(--light-color);
}

.highlight {
    color: var(--light-green);
}

h1[class="animate"] {
    display: inline-block;
    vertical-align: middle;
    color: var(--light-green);
}

.pill {
    font: inherit;
    font-size: 2rem;
    background-color: var(--light-green);
    border: none;
    color: var(--dark-color);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 16px;
}

.pill:hover {
    background-color: var(--light-color);
    color: var(--dark-color);
}

#introImg {
    position: relative;
    right: 0;
    float: right;
    align-self: center;
    image-rendering: crisp-edges;
    clip-path: circle(120px at center);
}

#name {
    font-family: League Spartan Variable;
    font-variation-settings: "wght" 800;
    font-size: 3rem;
    line-height: 50px;
    color: var(--light-green);
}

#intro {
    font-size: 3rem;
    justify-content: center;
}

#introWrapper>h2 {
    font-family: League Spartan Variable;
    font-variation-settings: "wght" 500;
    line-height: 5rem;
    font-size: 2.6rem;
    font-weight: 300;
}

#about-me {
    display: inherit;
    height: auto;
    min-height: 100% !important;
    text-align: justify;
    line-height: 2rem;
}

#projects {
    margin-top: 2%;
    height: 100%;
}

#published {
    margin-top: 2em;
    height: 100%;
}

.banner {
    width: 100%;
    /* filter: blur(0px); */
    /* clip-path: polygon(100% 10%, 100% 80%, 0% 80%, 0% 10%); */
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.awards {
    display: flex;
    width: 100%;
    height: 100%;
}

.awards div[class="animate"] {
    margin: 1.5rem 0;
}

.inline {
    display: flex;
    width: 100%;
    height: auto;
}

#tog {
    font-family: 'Marcellus SC', serif;
    font-weight: 400;
    font-size: 6rem;
    color: burlywood;
    margin: 0;
    width: 100%;
}

.project {
    height: auto;
}

.project>div>div {
    width: auto;
    margin: 0 2%;
}

.project h1 {
    color: var(--light-green);
    margin-top: 0;
}

.video {
    width: 60%;
    height: 80%;
    margin: auto 2% auto 0;
}

.game {
    image-rendering: optimizeQuality;
    width: 25vw;
    height: auto;
    margin: auto 5% auto 0;
}

#skills {}

.skill {}

#footer {
    margin: 20vh 0 0 0;
    height: 20vh;
    max-width: 100%;
    background-color: var(--light-green);
    color: var(--dark-color);
}

#footer p {
    text-align: center;
    margin: 0 auto 1% auto;
    font-size: 0.5rem;
}

#footer ion-icon{
    color: var(--dark-color);
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2.5rem;
    width: 20%;
    margin: auto;
}

/*Scroll*/
#image-track {
display: flex;
gap: 4vmin;
margin-top: 15vw;
position: relative;
left: 25%;
top: 50%;
transform: translate(0%, -50%);
user-select: none;
}

#image-track>.image {
width: 40vmin;
height: 56vmin;
object-fit: cover;
object-position: 100% center;
margin-bottom: -5em;
}

/*Projects*/

.published-projects-container {
	display: block;
	margin-top: 50px;
	margin-bottom: 50px;
    width: 100%;
}

.pp-container {
	max-width: 340px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	overflow: hidden;
}

.pp {
	height: 350px;
	border: 1.8px solid;
	border-color: rgb(84, 84, 84);
	border-radius: 5px;
	position: relative;
	transition: all .3s ease-in-out;
	overflow: hidden;
}

.pp-img {
	background-color: black;
	transition: all .3s ease-in-out;
	background-position: center;
}

.cover{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    background-size: cover;
	background-repeat: no-repeat;
}

.pp-img:hover {
	transform: scale(1.1);
}

.pp:hover {
	cursor: pointer;
	border-color: var(--light-green);
}

.pp-title-container {
	width: 100%;
	height: 64px;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	bottom: 0;
	text-align: center;
	line-height: 64px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	pointer-events:none;
}

.pp-title-container>p {
	color: white;
	font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.pp-desc-container {
	margin-top: 10px;
	max-width: 90%;
	bottom: 0;
	text-align: justify;
	display: inline-block;
}

.pp-desc {
	color: var(--light-color);
	font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

.pp-tags-container {
	margin-top: 10px;
	width: 100%;
	text-align: left;
	overflow: hidden;
    display: flex;
    justify-content: center;
}

.pp-tags-container2 {
	padding-left: 2em;
	width: 100%;
	text-align: left;
	overflow: hidden;
    display: table-cell;
    justify-content: center;
    width: 50%;
}

.pp-tag {
	height: 21px;
	min-width: 30px;
	padding-left: 7px;
	padding-right: 7px;
	color: var(--dark-color);
	font-size: 14px;
	float: left;
	background-color: var(--light-green);
	margin-right: 5px;
	margin-top: 5px;
	text-align: center;
	border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
}

.pp-banner {
    /* background-color: var(--dark-color); */
    filter: blur(1px);
    -webkit-filter: blur(1px);
    position: relative;
    top: 0;
    width: 100%;
    height: 70%;
	overflow: hidden;
}

.pp-video {
    position: relative;
    width: 90%;
    padding-bottom: 56.25%; 
    height: 0;
    left: 5%;
    top: 15%;
}

.pp-video iframe{
    -webkit-animation: fadeVideo 2s;
    position: absolute;
    top: 2em;
    right: 0;
    width: 100%;
    height: 80%;
}
  
.fade-bottom{
    /* -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(255,255,255,0)));
    mask-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,.1)); */
    box-shadow: inset 0 -50px 25px 0 var(--dark-color);
}

/* Project open / close */
.hidden {
    -webkit-animation: shrink 1.5s;
}

.open{
    -webkit-animation: expand 0.5s;
}

.fadeAnim{
    -webkit-animation: fade 1s;
}

.overlay {
    position:fixed;
    padding:0;
    margin:0;

    top:15vh;
    left:15vw;

    width: 70vw;
    height: 70vh;
    background:var(--dark-color);
    z-index: 1000;
    overflow: hidden;
    border-radius: 25px;
}

.overlay p{
    width: 100%;
    padding-left: 2em;
    padding-top: 2em;
}

.display-flex{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
}

@-webkit-keyframes expand{
    0%{height:0px}
    100%{height:70vh}
}

@-webkit-keyframes shrink{
    0%{height:100vh}
    100%{height: 0px;}
}

@-webkit-keyframes fadeVideo{
    0%{height:0px}
    100%{height:80%}
}

@-webkit-keyframes fade{
    0%{background:rgba(0,0,0,0);}
    100%{background:rgba(0,0,0,0.75);}
}

.close-button{
    position: absolute;
    height: 2rem;
    background-color: transparent;
    top: 1em;
    right: 1em;
    cursor: pointer;
    z-index: 5;
}

#closeIcon{
    display: inline-block;
    vertical-align: middle;
    font-size: 3em;
}

.dark{
    color: var(--dark-color);
}

.light{
    color: var(--light-color);
}

#fade{
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100vw;
    height: 100vh;
    background:rgba(0,0,0,0.75);
    z-index: 900;
    pointer-events: visible;
}

td ul li {
    padding-left: 2.5em;
}

.td-text{
    width: 60%;
}

.td-video{
    width: 40%;
}

.mtd-video{
    display: none;
}

@media screen and (max-width:768px) {
    body,
    html {
        font-size: 10px;
    }
    .section {
        max-width: 80vw;
    }
    #introImg {
        display: none;
    }
    #tog {
        font-size: 3rem;
    }
    .awards {
        width: 100%;
        display: grid;
    }
    .video {
        width: 100%;
    }
    .inline {
        width: 100%;
        display: grid;
    }
    .game {
        width: 100%;
    }
    #footer p {
        font-size: 1rem;
    }
    .links {
        width: 80%;
    }
    .pill {
        font-size: 1.5rem;
    }

    h5{
        display: inline-block;
        margin-top: 2em;
    }
    .overlay {
        height: 95vh;
        top: 2.5vh;
        width: 95vw;
        left: 2.5vw;
        border-radius: 10px;
    }

    .overlay table{
        width: 95%;
    }
    
    .td-text{
        vertical-align: 0;
    }
    
    .td-video{
        display: none;
    }

    .mtd-video{
        display: inline-table;
        left: 5%;
    }

    .pp-video{
        left: 7.5%;
        top: 0;
    }

    td ul li {
        padding-left: 0;
    }

    @-webkit-keyframes expand{
        0%{height:0px}
        100%{height:95vh}
    }
}